
# BEGIN WordPress
RewriteEngine On
RewriteBase /themuslimguide/
<IfModule mod_rewrite.c>
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /themuslimguide/index.php [L]
</IfModule>

RedirectMatch 301 /themuslimguide/wp-content/uploads/(.*)$ /uploads/$1

# END WordPress