==
<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>&copy; 2018 Material Studio, All right reserved. Designed with <i class="mdi mdi-heart"></i> by <a href="#">UIdeck</a></p>
</div>
</div>
</div>
</div>


<a href="#" class="back-to-top">
<div class="ripple-container"></div>
<i class="mdi mdi-arrow-up">
</i>
</a>


 <script src="{{ [
        'assets/vendor/jquery/dist/jquery.min.js',
        
        'assets/js/wow.js',
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/jquery.mixitup.min.js',
        'assets/js/jquery.inview.js',
        'assets/js/jquery.counterup.min.js',
        'assets/js/scroll-top.js',
        'assets/js/smoothscroll.js',
        'assets/js/material.min.js',
        'assets/js/ripples.min.js',
        'assets/js/owl.carousel.min.js',
        'assets/js/form-validator.min.js',
        'assets/js/contact-form-script.min.js',
        
        'assets/js/jquery.vide.js',
        'assets/js/jquery.magnific-popup.min.js',
        'assets/js/jquery.slicknav.js',
        'assets/js/main.js'
    ]|theme }}"></script>
    
    {% framework extras %}
    {% scripts %}